<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('Login')}}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    </nav>
    <h1>Build Better Habits</h1>
    <p>
        Track your daily habits, maintain streaks,
        and monitor your progress over time.
    </p>
    <h2>Features</h2>
    <ul>
        <li>create habits</li>
        <li>Track daily completion</li>
        <li>view streaks</li>
        <li>see weekly progress</li>
    </ul>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>